.me-img {
	/*border-radius: 50%;*/
	 /*border: 3px solid #fff;*/
	box-shadow: 0 0 15px #fff; 
}
.individual {
	padding-top: 40px;
}
.individual li {
	line-height: 35px;
	font-size: 16px;
	color: #fff;
	overflow: hidden;
}
.individual li span {
	float: left;
	width: 100px;
	text-align: right;
	color: #660000;
}
.individual li em {
	float: left;
	text-align: left;
	
}

.contact-btn {
	border-radius: 5px;
	overflow: hidden;
}
.contact-btn a {
	float: left;
	width: 33.3%;
	font-size: 14px;
	line-height: 40px;
	background: #66ff66;
}
.contact-btn a:first-child {
	background: #ffff66;
}
.contact-btn a:last-child {
	background: #ff99ff;
}

.experience-tit {
	line-height: 40px;
	font-size: 20px;
	height: 40px;
	padding: 0 10px;
}
.experience-tit em {
	float: left;
	text-align: right;
	font-weight: 600;
	color: #fff;
}
.experience-tit b {
	font-weight: bold;
	float: left;
}
.experience-cont {
	font-size: 12px;
	text-align: left;
	padding: 0 10px;
}
.experience-cont em {
	line-height: 40px;
	font-size: 20px;
	color: #fff;
}
.canvas-chart {
	line-height: 40px;
	font-size: 14px;
	background: #62acff;
	border-radius: 5px;
	overflow: hidden;
}
























